<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ameba.TRex</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6CA14B9B-D88A-46F5-8FA1-4C2C3D789582</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D486B11-233D-4A5E-99AC-F70A6E56A8C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>933E6235-68AF-4629-992F-E02E1EE609CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>590A4D95-43E0-45DC-A6C3-CF7673E17E63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D486B11-233D-4A5E-99AC-F70A6E56A8C2</key>
		<array/>
		<key>C95315EA-D5B2-4E1A-A6C8-5301F1BF1CE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25D5BCF6-9DB8-438D-9A99-B0A33531DDAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ameba Labs</string>
	<key>description</key>
	<string>Stop Retyping Copy Any Text with TRex</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TRex</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Applications/TRex.app/Contents/MacOS/cli/trex -c {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25D5BCF6-9DB8-438D-9A99-B0A33531DDAF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ocr-clipboard</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Capture from Clipboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C95315EA-D5B2-4E1A-A6C8-5301F1BF1CE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ocr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Capture from Screen</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>933E6235-68AF-4629-992F-E02E1EE609CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Applications/TRex.app/Contents/MacOS/cli/trex {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>590A4D95-43E0-45DC-A6C3-CF7673E17E63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>OCR File</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>6CA14B9B-D88A-46F5-8FA1-4C2C3D789582</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>103</integer>
				<key>script</key>
				<string>cat {query} | /Applications/TRex.app/Contents/MacOS/cli/trex -i</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D486B11-233D-4A5E-99AC-F70A6E56A8C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>25D5BCF6-9DB8-438D-9A99-B0A33531DDAF</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>590A4D95-43E0-45DC-A6C3-CF7673E17E63</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>6CA14B9B-D88A-46F5-8FA1-4C2C3D789582</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>933E6235-68AF-4629-992F-E02E1EE609CC</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>9D486B11-233D-4A5E-99AC-F70A6E56A8C2</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>C95315EA-D5B2-4E1A-A6C8-5301F1BF1CE1</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://trex.ameba.co</string>
</dict>
</plist>
